* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: 'Space Grotesk',sans-serif;
}

@media only screen and (max-width: 499px) {

  body {
    background-color: black;
    color: white;
    font-family: 'Space Grotesk',sans-serif;  
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
  }
  
  .description {
    display: flex;
    flex-direction: column;
  }
  
  header {
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
  }
  
  .header-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    display: block;
  }
  
  .header-title {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5;
    text-align: center;
    display: block;
  }
  
  a {
    color: white;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  main div {
    margin-bottom: 15px;
  }

  main label {
    margin-bottom: 20px;
  }

  .to-do-list {
    background: transparent url('images/Screen\ Shot\ 2020-06-12\ at\ 09.28.56.png') no-repeat;
    background-size: 100%;
    box-shadow: 0.1px 0.1px 5px 1px white;
    border-radius: 5px;
    width: 60%;
    height: 15vh;
  }

  footer {
    text-align: center;
  }
}

@media only screen and (min-width: 500px) {
  
  body {
    background-color: black;
    color: white;
    font-family: 'Space Grotesk',sans-serif;
    font-size: 15px;
    margin: 0;
    padding-left: 50px;
  }
  
  .description {
    display: flex;
  }
  
  header {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  
  .header-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    display: block;
  }
  
  .header-title {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5;
    text-align: left;
    display: block;
  }
  
  a {
    color: white;
  }
}

@media only screen and (min-width: 850px) {
  body {
    background-color: black;
    color: white;
    font-family: 'Space Grotesk',sans-serif;
    font-size: 15px;
    margin: 0;
    padding-left: 50px;
  }
  
  .main-container {
    max-width: 1300px;
  }

  .description {
    display: flex;
  }
  
  header {
    height: 15vh;
  }
  
  .header-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 50px;
    display: block;
  }
  
  .header-title {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5;
    text-align: left;
    display: block;
  }
  
  .description {
    height: 70vh;
  }
  
  a {
    color: white;
  }
}
