body {
  background-color: black;
  font-size: 15px;
  margin: 0;
  color: white;
  font-family: 'Space Grotesk',sans-serif;
  padding-left: 50px;
}
header {
	font-family: 'Space Grotesk',sans-serif;
	border: 1px solid white;
}

.header-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  margin-top: 50px;
  display: block;
}

.header-title {
  font-size: 18px;
  font-weight: 100;
  line-height: 1.5;
  text-align: left;
  display: block;
}

.description {
	border: 1px solid green;
}

.main-paragraph {
  display: inline-block;
  width: 40%;
  margin-top: 15%;
  margin-bottom: 10%;
  font-size: 25px;
  font-weight: 100;
  line-height: 1.5;
	text-align: left;
	border: 1px solid orange;
}

.main-image {
  display: inline-block;
	position: absolute;
	border: 1px solid blue;
	padding-top: 100px;
}

.main-image img{
	width: 40%;
	margin-top: 100px;
  display: block;
  margin: auto;
	border: 1px solid red;
}

.hello {
  font-weight: 600;
}

footer {
	border: 1px solid white;
}