body {
    background-color: #bfc0c0;
    font-size: 15px;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    margin: 0;
}
#my-name {
    font-family: Roboto,sans-serif;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
}
#about-me-container {
}
#profile-picture {
    border-radius: 100%;
    width: 150px;
    padding: 5px;
    background-color: white;
    display: inline-block;
    margin-left: 33%;
}
#about-me-block {
    display: inline-block;
    width: 30%;
    height: 155px;
    overflow: auto;
    margin-left: 50px;
    margin-right: 10%;
}
.content {
    margin-top: 50px;
}

div.content h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.lists {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    text-align: center;
    line-height: 20px;
    padding-left: 0;
}
li.skills {
    display: inline-block;
    margin-left: 5%;
}