body {
    background-color: #bfc0c0;
    font-size: 15px;
}
h1 {
    font-family: Helvetica,sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
.profile-picture {
    border-radius: 100%;
    text-align: center;
}
.web-developer {
    font-size: 1.3em;
}
.tech-lover {
    font-size: 1.2em;
}